/* style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eef5ff;
    font-family:Arial;
    padding:20px;
    color:#222;
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.topo h1{
    color:#0077cc;
}

.topo p{
    color:#555;
}

.wifi{
    background:#28a745;
    color:white;
    padding:10px 15px;
    border-radius:30px;
    font-size:14px;
    font-weight:bold;
}

.status{
    text-align:center;
    padding:18px;
    border-radius:20px;
    color:white;
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
    transition:0.3s;
}

.boa{
    background:#28a745;
}

.atencao{
    background:#ff9800;
}

.risco{
    background:#dc3545;
}

.cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card span{
    color:#777;
    font-size:14px;
}

.card h2{
    margin-top:10px;
    font-size:34px;
}

.graficoBox{
    background:white;
    margin-top:20px;
    border-radius:20px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.alertas{
    background:white;
    margin-top:20px;
    border-radius:20px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.alerta{
    padding:12px;
    border-radius:12px;
    margin-top:10px;
    color:white;
    font-weight:bold;
}

.alertaRisco{
    background:#dc3545;
}

.alertaAtencao{
    background:#ff9800;
}

@media(max-width:700px){

    .cards{
        grid-template-columns:1fr;
    }

}